.cartItem {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--space-small) 0;
    border-bottom: 1px solid #eaeaea;
}

.cartItem .imgAndTitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 55%;
}

.cartItem .imgAndTitle img {
    margin: 0 50px;
}

.cartItem .counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItem .counter span {
    margin: 0 var(--space-min);
    cursor: pointer;
}


.cartItem .counter,
.cartItem .price,
.cartItem .deleteBtn {
    text-align: center;
    width: 15%;
}

.cartItem .deleteBtn {
    color: black;
    font-size: var(--size-medium);
    cursor: pointer;
}