.infoItem {
    display: flex;
    margin-bottom: var(--space-max);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 80%;
}

/* .info .title,
.info .author,
.info .price,
.info .description {
    margin-bottom: 10px;
} */

.infoItemImg {
    margin-right: var(--space-max);
    width: 190px;
    flex-basis: 20%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.infoItemImg img {
    display: block;
    width: 100%;
}


.info .title {
    font-size: var(--size-big);
}

.info .author {
    font-weight: var(--weight-medium);
}



.info .description {
    white-space: pre-wrap;
}

.info .price {
    font-weight: var(--weight-medium);
    display: flex;
    align-items: center;
}

.info .price .priceStandard {
    text-decoration: line-through;
    margin-right: var(--space-small);
}

.info .price .infoPriceButton {
    padding: var(--space-min) var(--space-big);
    margin: 0 var(--space-min);
}

.buttons {
    margin-top: var(--size-big);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons .minus,
.buttons .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #a0a0a0;
    font-size: 25px;
}

.buttons .number {
    padding: var(--space-small) calc(var(--space-big) + 10px);
    border-radius: 25px;
    margin: 0 var(--space-min);
    border: 1px solid black;
}

.infoCartButton {
    padding: 15px 20px;
    margin-left: var(--space-max);
}


/* <div className={styles.infoItem}>
<div className={styles.infoItemImg}>
    <img src={props.item.coverLargeUrl} alt="info_img" />
</div>
<div className={styles.info}>
    <h1 className={styles.title}>{props.item.title}</h1>
    <p className={styles.author}>Author: {props.item.author}</p>
    <div className={styles.price}>
        <span className={styles.priceStandard}>{props.item.priceStandard}</span>
        <PriceButton price={props.item.priceSales} />
    </div>
    <pre className={styles.description}>
        {props.item.description}
    </pre>
</div>
<div>
    <button>-</button>
    <button>number</button>
    <button>+</button>
</div>
</div> */