/* #838383 */
header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-min);
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(0 0 0 / 0.2);
    box-shadow: 0 5px 5px -5px #333;
}

.headerTop .logo {
    display: flex;
    align-items: center;
    font-size: var(--size-max);
    cursor: pointer;
}

.headerTop .logoIcon {
    color: #1b8bcbd9;
    margin: 0 var(--space-min);
}

.headerTop .icons {
    display: flex;
    align-items: center;
}

.headerTop .icons span {
    font-size: var(--size-max);
    cursor: pointer;
}

.headerBottom {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(0 0 0 / 0.2);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.headerBottom .nav {
    display: flex;
}

.headerBottom .nav li {
    padding: var(--space-big);
    font-weight: var(--weight-bold);
}

.headerBottom .nav li a:hover {
    color: #1b8bcbd9;
}