.itemCard .itemInner {
    width: 190px;
    display: flex;
    flex-direction: column;
}

.itemInner .itemImg {
    width: 100%;
    height: 280px;
}

.itemCard .itemInfo {
    padding: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemInner:hover,
.itemInner:hover .hover {
    visibility: visible;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.itemInner .title {
    font-size: var(--size-medium);
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.itemInner .author {
    padding: 5px 0;
    font-size: var(--size-small);
    /* color: var(--color-opacity); */
}

.hover {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* justify-content: center; */
    /* align-items: center; */
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.hoverEffect {
    padding: 12px 20px;
}