.bookItemsComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bookItemsContainer {
    position: relative;
    background-color: aqua;
    width: 100%;
    height: 395px;
    overflow: hidden;
}

.bookItems {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.pageTitle {
    width: 100%;
    padding: var(--space-max) 0 var(--space-medium) 0;
}

.mainItem {
    flex-basis: 15%;
    padding: 15px;
}